

.B-btn-login{

    padding: 7px 42px;
    border-color: white;
    border-radius: 30px;
    font-family: sans-serif;

    font-weight: 500;

}

.B-font{

    font-weight: 500;
    font-size: 24px;
    font-family: sans-serif;
}

.B-fonts{

    font-weight: 400;
    font-size: 15px;
    font-family: sans-serif;

}


.B-borders{
border: none;
border-radius: 0px;
  border-bottom:   1px solid #ccc !important;
  padding: 0px 0px 0px 20px !important;
  margin-bottom: 15px;
}
.B-borders:focus{
box-shadow: none;
}

.Bforget:hover{

    text-decoration: none;
    color: blue !important;
}

