/* Start General Ruls*/

.trm-content
{
    background-color: white;
    
    border: solid 1px #dedede;
    border-top-color: transparent
}

.trm-content .headLine
{
    border-bottom: solid 1px #ebebeb;
    border-bottom-width: 80% ;
    font-family: serif;
    
}

.termsAndCondition .terms
{
    margin-top: 30px;
}
.termsAndCondition .terms .btn
 {
     padding: 0px;
     
 }

 .termsAndCondition .terms .btn .item
 {
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }

 .termsAndCondition .terms .btn .item h4
 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px 10px 15px;

 }
 .termsAndCondition .terms .btn .item i{
     color: #09c;
     font-size: 18px
 }
.termsAndCondition .card
{
    font-size: 14px
}

 .termsAndCondition .terms > div
 {
     margin: 15px 0px

 }

 /* Footer */
 

/* Footer */

#myFooter {
	background-color: #1f2021;
	color:#3e4652;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}


#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: 700;
    margin-top: 30px;
}

#myFooter a{
	color:#45636e;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:#ccc;
}

#myFooter .myCols{
	text-align: center;
}



#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

#myFooter .insta:hover{
	color: #ca97dae5;
}


@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
};



